
.bg{
    opacity: 0.7;
    width: 1520px;
   margin: 0px;
   border: 1px;
}
.img{
    transform: translateY(-200px)!important;
  
   
    
}

.container .caption {
	position: absolute;
    bottom: 0;
    left: 0;
   
}
.el{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.es{
   font-size: 40px;
   text-align: center;
  
  
}
.en{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.rn{
    display: flex;
    flex-direction: column;
}
.ez {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#imgg{
    width: 600px;
    height: 300px;
}

.rs{
    display: flex;
    flex-direction: row;
    align-items: center;
}
table{
    border-collapse: collapse
  }
  
  td{
    border: 1px solid black;
    padding: 10px;

  }
  styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgb(255, 115, 0);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.mig{
    display: flex;
    justify-content: space-around;
}
#gosport{
    height: 315px;
}
.pp{
    font-size: 40px;
    background-color: rgb(236, 184, 164);
}
.ps{
font-size: 20px; 
   

}
.eh{
   font-size: 20px;
}
.z{
  color: rgb(94 106 83);
}
.s{
    color: rgb(219, 36, 73);
}
.n{
    color: rgb(156, 97, 28);
}
.r{
   color: rgb(219, 70, 11);
}
.g{
    width:50px ;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
}
.pc{
    font-size: 30px;
}
body{
    background-color: rgb(224, 165, 144);

}
.x{
    width: 300px;
    height: 300px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
   
}
.pdn{
    margin: 2%;
}
.u{
    margin:2%;
}
.s{
    margin: 2%;
}
.y{
    margin:2%;
    color: rgb(221, 28, 221);
}
.w{
    margin:2%;
}
.o{
    margin:2%;
}
.v{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}
#demo{
    width: "50%" !important;
}
.ps{
    color: rgb(48, 156, 146);
}
.bb{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
}
.sec{
    margin-left: 50px;
    margin-right: 50px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(231, 119, 119);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: rgb(212, 55, 128);
  }

